:root {
  --primary-color: #fff;
  --secondary-color: #1d2a35;
  --grey: rgb(77, 77, 77);
  --blue: rgb(33, 33, 205);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  width: 23rem;
  position: relative;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dark {
  --secondary-color: #fff;
  --primary-color: #1d2a35;
  --grey: #c1c1c1;
}

.mode {
  position: relative;
  right: -35%;
  font-size: 1.2rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
  cursor: pointer;
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-mode {
  display: none;
}

.clock {
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.2),
    0px 0px 15px 0px rgba(0, 0, 0, 0.1),
    5px 5px 5px 0px rgba(255, 255, 255, 0.2) inset,
    0px 0px 5px 0px rgba(0, 0, 0, 0.1) inset;
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.8rem;
  width: 0.8rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  background-color: var(--blue);
  z-index: 10;
}

.hand {
  --rotate: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: bottom;
  width: 4px;
  background-color: var(--secondary-color);
}

.hours {
  height: 25%;
}

.minutes {
  height: 35%;
}

.seconds {
  height: 32%;
  width: 2px;
  background-color: var(--blue);
}

.num {
  --rotate: 0;
  position: absolute;
  height: 95%;
  width: 95%;
  text-align: center;
  transform: rotate(var(--rotate));
}

.num1 {
  --rotate: 30deg;
}
.num2 {
  --rotate: 60deg;
}
.num3 {
  --rotate: 90deg;
}
.num4 {
  --rotate: 120deg;
}
.num5 {
  --rotate: 150deg;
}
.num6 {
  --rotate: 180deg;
}
.num7 {
  --rotate: 210deg;
}
.num8 {
  --rotate: 240deg;
}
.num9 {
  --rotate: 270deg;
}
.num10 {
  --rotate: 300deg;
}
.num11 {
  --rotate: 330deg;
}

.time {
  font-size: 4rem;
  font-weight: 700;
  margin: 4rem 0 1rem;
}

.time span {
  font-size: 1rem;
  position: relative;
  top: -3rem;
}

.date {
  font-size: 1.2rem;
  color: var(--grey);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 100dvh;
    width: 100%;
  }
}
